@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Heebo:wght@100&family=Lato:wght@300&family=Lora&family=Lunasima&family=Open+Sans:wght@300&family=Roboto+Mono:wght@200&family=Roboto:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 2rem;
  margin: 20px;
  padding: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 7rem;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  line-height: 34px;
  height: 10rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10rem;
  color: hotpink;
  background-color: aqua;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
}

.reset-button {
  padding: 5px;
  margin: 10px;
  background-color: hotpink;
  border-radius: 10px;
}

.reset-button-wrapper {
  display: flex;
  justify-content: center;
}
